* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  overflow-x: hidden;
}
body nav {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 5;
}
body nav ul {
  display: flex;
}
body nav ul li {
  list-style-type: none;
  margin: 1rem;
}
body nav ul li a {
  color: black;
  text-decoration: none;
  transition: all 0.1s ease;
}
body nav ul li a:hover {
  color: #fb0e7d;
  border-bottom: 3px solid #fb0e7d;
}
body main section.main-area {
  min-height: 70vh;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
body main section.main-area div.info {
  flex-basis: 450px;
  padding: 1rem;
}
body main section.main-area div.info h1 {
  font-size: 3.5rem;
}
body main section.main-area div.info h2 {
  font-size: 1rem;
}
body main section.main-area div.info a {
  color: white;
  background-color: #fb0e7d;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border-radius: 29px;
  display: inline-block;
  margin-top: 2rem;
  text-decoration: none;
  transition: all 0.2s ease;
}
body main section.main-area div.info a:hover {
  transform: scale(1.1);
}
body main section.main-area div.img-area {
  flex-basis: 450px;
}
body main section.main-area div.img-area img {
  width: 90%;
  height: 90%;
}
body main section.about-me {
  background-color: #fec3de;
  padding: 5rem 2rem;
  display: flex;
  justify-content: center;
}
body main section.about-me section.description {
  width: 50%;
  text-align: center;
}
body main section.about-me section.description h2 {
  font-size: 2rem;
}
body main section.about-me section.description .progress-bar-area .progress .progress-java {
  --bs-progress-bar-bg: none;
  background-color: #fb0e7d !important;
}
body main section.about-me section.description .progress-bar-area .progress .progress-database {
  --bs-progress-bar-bg: none;
  background-color: #00cecb !important;
}
body main section.about-me section.description .progress-bar-area .progress .progress-web {
  --bs-progress-bar-bg: none;
  background-color: #fb0e7d !important;
}
body main section.about-me section.description .progress-bar-area p {
  margin-top: 1rem;
}
body main section.resume {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}
body main section.resume section.table {
  flex: 5 0 500px;
  padding: 2rem;
}
body main section.resume section.table table {
  --bs-table-bg: none;
  border-collapse: collapse;
}
body main section.resume section.table table tr {
  border-bottom: 2px solid #00cecb;
  transition: all 0.2s ease;
}
body main section.resume section.table table tr:hover {
  background-color: #8cdfd6;
}
body main section.resume section.table table tr td {
  padding: 1rem;
}
body main section.resume section.picture {
  flex: 1 1 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
body main section.resume section.picture img {
  width: 80%;
}
body main section.resume section.picture div.pinkgraphic {
  width: 30vw;
  height: 90vh;
  border: 8px solid #fb0e7d;
  position: absolute;
  top: 30px;
  left: 10px;
  z-index: -1;
}
body main section.resume section.picture div.pinkgraphic2 {
  width: 30vw;
  height: 50vh;
  border: 8px solid #fb0e7d;
  position: absolute;
  top: 10px;
  left: -400px;
  z-index: -1;
}
body main section.resume section.picture div.pinkgraphic3 {
  width: 45vw;
  height: 60vh;
  border: 8px solid #fb0e7d;
  position: absolute;
  top: 10vw;
  left: 300px;
  z-index: -1;
}
body table#project th {
  font-size: 1.5em;
  width: 20%;
}
body table#project td {
  font-size: 1.5em;
}

@media screen and (max-width: 800px) {
  body main section.about-me section.description {
    width: 80%;
  }
  body main section.resume {
    overflow-x: auto;
  }
  body main section.resume section.picture div.pinkgraphic,
  body main section.resume section.picture div.pinkgraphic2,
  body main section.resume section.picture div.pinkgraphic3 {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  body nav ul {
    flex-direction: column;
  }
}
section.contact,
section.websites {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}
section.contact section.table,
section.websites section.table {
  flex: 5 0 500px;
  padding: 2rem;
}
section.contact section.table table,
section.websites section.table table {
  --bs-table-bg: none;
  border-collapse: collapse;
}
section.contact section.table table tr,
section.websites section.table table tr {
  border-top: 2px solid #00cecb;
  border-bottom: 2px solid #00cecb;
  transition: all 0.2s ease;
}
section.contact section.table table tr:hover,
section.websites section.table table tr:hover {
  background-color: #fec3de;
}
section.contact section.table table tr td,
section.websites section.table table tr td {
  padding: 1rem;
}

section#show-presentation {
  display: flex;
  height: 500vh;
  margin: 0px 2vw;
  border-top: 3px solid #00cecb;
}
section#show-presentation div.presentation-buttons {
  width: 15%;
  border-right: 3px solid #00cecb;
}
section#show-presentation div.presentation-buttons button {
  background-color: white;
  margin-top: 5px;
  border: none;
  border-top: 3px solid #fb0e7d;
  border-bottom: 3px solid #fb0e7d;
  width: 100%;
}
section#show-presentation div.presentation-buttons button:hover {
  background-color: #8cdfd6;
}
section#show-presentation div.embed-div {
  padding: 4px 4px;
  width: 85%;
  height: 100%;
}
section#show-presentation div.embed-div embed {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=style.css.map */